{% for property in properties %}
    <div class="col-lg-4 col-md-6">
        {% include 'property/_card.html.twig' with {'property': property} %}
    </div>
{% else %}
    <div class="col-12 text-center py-5">
        <h3>{{ 'properties.list.no_results'|trans }}</h3>
        <p>{{ 'properties.list.try_different_filters'|trans }}</p>
    </div>
{% endfor %} 