{% extends 'admin/base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>{{ message }}</h1>
        <p>If you can see this, the admin base template is working!</p>
    </div>
</div>
{% endblock %}
